<a href="https://colab.research.google.com/github/itsmimahi/ML-Regression-Capstone/blob/main/copy_of_ml_capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing important liabraries or packages.
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# File path
file_path = ('/content/drive/MyDrive/ML Regression Project/SeoulBikeData.csv')

In [4]:
# Loading csv file.
bike_df = pd.read_csv(file_path, encoding='latin')
bike_df.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

# `DATA PREPROCESSING`

In [5]:
# Check the total number of rows and columns.
print(f'The shape of dataset is {bike_df.shape}\nTotal number of rows are {(bike_df.shape)[0]}\nTotal number of columns are {(bike_df.shape)[1]}')

The shape of dataset is (8760, 14)
Total number of rows are 8760
Total number of columns are 14

In [6]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(째C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(째C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

In [7]:
# Looking for duplicate rows.
bike_df.duplicated().value_counts()

False    8760
dtype: int64

##1) Null values or missing values present in our dataset are - 0
##2) Duplicate rows present in our dataset are - 0
##3) Need to change datatype of Column 'DATE'
##4) Need to convert objct values in numeric value of column 'SEASON','HOLIDAY', 'FUNCTIONING DAY' for modelling purpose.
##5) Need to rename column name since column name also consists unit too which will raise issues while working on dataset.

In [50]:
bike_df.columns

Index(['Rented Bike Count', 'Hour', 'Temperature', 'Humidity', 'Wind_speed',
       'Visibility', 'Dew_point_temperature', 'Solar_radiation', 'Rainfall',
       'Snowfall', 'Seasons', 'Holiday', 'Functioning Day', 'Month',
       'weekday_or_weekend'],
      dtype='object')

In [51]:
# Need to change datatype of Column 'DATE'.

bike_df['Date'] = bike_df['Date'].astype('datetime64[ns]')

# Changing column 'DATE' into two more column 'MONTH' (eg:1,2,3,4,5....12),'DAY' (eg:Monday,Tuesday.....,Sunday)
bike_df['Month'] = bike_df['Date'].dt.month
bike_df['Day'] = bike_df['Date'].dt.day_name()           

# Changes which we have done.
bike_df.head()

KeyError: ignored

In [39]:
bike_df['weekday_or_weekend'] = bike_df['Day'].apply(lambda x: 1 if x=='sunday' or x=='saturday' else 0)

KeyError: ignored

In [49]:
# Now we can drop column 'DAY', 'DATE'we do not need them anymore.
# bike_df.drop(columns=['Date',"Day"], axis= 1, inplace=True)

bike_df.drop(['Date',"Day"],axis=1 ,inplace=True)

# bike_df.head(1)

KeyError: ignored

In [45]:
# Need to rename column name since column name also consists unit too which will raise issues while working on dataset.

bike_df.rename({'Temperature(째C)':'Temperature', 'Humidity(%)':'Humidity','Wind speed (m/s)':'Wind_speed', 'Visibility (10m)': 'Visibility',
                'Dew point temperature(째C)':'Dew_point_temperature', 'Solar Radiation (MJ/m2)':'Solar_radiation', 'Rainfall(mm)':'Rainfall','Snowfall (cm)':'Snowfall'}, inplace=True, axis=1)
bike_df.head()

,Rented Bike Count,Hour,Temperature,Humidity,Wind_speed,Visibility,Dew_point_temperature,Solar_radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Month,weekday_or_weekend
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0

In [25]:
# Need to convert objct values in numeric value of column 'SEASON','HOLIDAY', 'FUNCTIONING DAY' for modelling purpose.

# bike_df['Holiday'] = bike_df['Holiday'].apply(lambda x: 1 if x=='Holiday' or lambda x:0 if x=='No holiday'

# bike_df['Functioning Day'] = bike_df['Functioning Day'].apply(lambda x: 1 if x=='Yes' or lambda x:0 if x=='No')

In [48]:
# As you can see column 'DATE' and 'DAY' has removed
bike_df.head(2)

,Rented Bike Count,Hour,Temperature,Humidity,Wind_speed,Visibility,Dew_point_temperature,Solar_radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Month,weekday_or_weekend
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,1,0

In [52]:
# Get distint values of column 'SEASON'.
bike_df['Seasons'].value_counts()

Spring    2208
Summer    2208
Autumn    2184
Winter    2160
Name: Seasons, dtype: int64

In [62]:
# Get distint values of column 'HOLIDAY'
bike_df['Holiday'].value_counts()

No Holiday    8328
Holiday        432
Name: Holiday, dtype: int64

In [61]:
# Get distint values of column 'FUNCTIONING DAY'
bike_df['Functioning Day'].value_counts()

Yes    8465
No      295
Name: Functioning Day, dtype: int64

In [59]:
# Get distint values of column 'WEEKDAY OR WEEKEND'
bike_df['weekday_or_weekend'].value_counts()

0    8760
Name: weekday_or_weekend, dtype: int64

In [60]:
# Get distint values of column 'MONTH'
bike_df['Month'].value_counts()

1     744
3     744
5     744
7     744
8     744
10    744
12    744
4     720
6     720
9     720
11    720
2     672
Name: Month, dtype: int64